# Titanic - Kaggle

## Data analysis

### First view

In [2]:
# data analysis
import pandas as pd
import numpy as np
import math

# visualization
import seaborn as sns
import matplotlib.pyplot as plt
#display inside notebook
%matplotlib inline

In [3]:
download_data_train = pd.read_csv("..\download\\train.csv")
download_data_test = pd.read_csv("..\download\\test.csv")

In [4]:
#create new labels
data_train_labels = pd.DataFrame(download_data_train, columns = ['PassengerId', 'Survived'])

In [4]:
#create one table for easier data preparation
download_data_train["trainOrTest"] = "train"
download_data_test["trainOrTest"] = "test"
download_data_train_sub = download_data_train.drop(["Survived"], axis=1)
data_train_test_all = pd.concat([download_data_train_sub, download_data_test])

In [5]:
# Find unique values
unique = {}
print("-"*90)
print('{:<15s}{:10s}{:10s}{:<s}'.format("COLUMN","IS NAN","DISPLAYED","UNIQUE VALUES"))
print("-"*90)
for label in data_train_test_all.axes[1]:
    unique[label] = data_train_test_all[label].unique()
    isnan = ""
    for a in unique[label]:
        try:
            if math.isnan(a):
                isnan = "HAS NAN"
        except:
            pass
    if len(unique[label]) > 10:
        displayed = "[10/" + str(len(unique[label])) + "]"
        unique_data = str(unique[label][0:10])
    else:
        displayed = "[" + str(len(unique[label])) + "/" + str(len(unique[label])) +"]"
        unique_data = str(unique[label])
    print('{:<15s}{:10s}{:10s}{:<s}'.format(str(label),isnan,displayed,unique_data))

------------------------------------------------------------------------------------------
COLUMN         IS NAN    DISPLAYED UNIQUE VALUES
------------------------------------------------------------------------------------------
PassengerId              [10/1309] [ 1  2  3  4  5  6  7  8  9 10]
Pclass                   [3/3]     [3 1 2]
Name                     [10/1307] ['Braund, Mr. Owen Harris'
 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)'
 'Heikkinen, Miss. Laina' 'Futrelle, Mrs. Jacques Heath (Lily May Peel)'
 'Allen, Mr. William Henry' 'Moran, Mr. James' 'McCarthy, Mr. Timothy J'
 'Palsson, Master. Gosta Leonard'
 'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)'
 'Nasser, Mrs. Nicholas (Adele Achem)']
Sex                      [2/2]     ['male' 'female']
Age            HAS NAN   [10/99]   [ 22.  38.  26.  35.  nan  54.   2.  27.  14.   4.]
SibSp                    [7/7]     [1 0 3 4 2 5 8]
Parch                    [8/8]     [0 1 2 5 3 4 6 9]
Ticket                   [10/929]  ['A/5 21171' 'PC 17599' 'STON/O2. 3101282' '113803' '373450' '330877'
 '17463' '349909' '347742' '237736']
Fare           HAS NAN   [10/282]  [  7.25    71.2833   7.925   53.1      8.05     8.4583  51.8625  21.075
  11.1333  30.0708]
Cabin          HAS NAN   [10/187]  [nan 'C85' 'C123' 'E46' 'G6' 'C103' 'D56' 'A6' 'C23 C25 C27' 'B78']
Embarked       HAS NAN   [4/4]     ['S' 'C' 'Q' nan]
trainOrTest              [2/2]     ['train' 'test']

NULL - Age, Fare, Cabin, Embarked <br>
NOT-NULL - PassengerId, Pclass, Sex, SibSp, Parch <br>

Continous data <br>
-- Age, Fare <br>

Discrete data <br>
-- interval - Parch, SibSp <br>
-- ordinal - Pclass<br>
-- categorical - Embarked<br>
--- dichotomous - Sex<br>

Mixed<br>
-- Ticket, Cabin
Unique<br>
-- more less unique - PassengerId, Name

In [6]:
download_data_train.info()
print('-'*30)
download_data_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
trainOrTest    891 non-null object
dtypes: float64(2), int64(5), object(6)
memory usage: 90.6+ KB
------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
trainOrTest    418 non-null object
dtypes: float64(2), int64(4), object(6)
memory usage: 39.3+ KB

In [7]:
download_data_train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [8]:
download_data_train.describe(include=['O'])

                     Name   Sex    Ticket Cabin Embarked trainOrTest
count                 891   891       891   204      889         891
unique                891     2       681   147        3           1
top     Yousif, Mr. Wazli  male  CA. 2343    G6        S       train
freq                    1   577         7     4      644         891

In [9]:
download_data_test.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

In [10]:
download_data_test.describe(include=['O'])

,Name,Sex,Ticket,Cabin,Embarked,trainOrTest
count,418,418,418,91,418,418
unique,418,2,363,76,3,1
top,"Duquemin, Mr. Joseph",male,PC 17608,B57 B59 B63 B66,S,test
freq,1,266,5,3,270,418

In [11]:
data_train_test_all["Sex"] = data_train_test_all["Sex"].apply(lambda x: 1 if x == "male" else 0)

##### First glance at data significance - discrete data

In [ ]:
for column in ['Pclass','Sex', 'Parch', 'SibSp']:
        print('-'*30)
        print(download_data_train[[column, 'Survived']].groupby(column, as_index=False).mean().sort_values(by='Survived', ascending=False))

#### First glance at significance - continous data

In [1]:
age = sns.FacetGrid(download_data_train, col='Survived')
age.map(plt.hist, 'Age', bins=20)

NameError: name 'sns' is not defined

In [ ]:
fare = sns.FacetGrid(download_data_train, col='Fare')
fare.map(plt.hist, 'Fare', bins=20)

In [ ]:
data_train_test_all = data_train_test_all.drop("Name", axis=1)
data_train_test_all = data_train_test_all.drop("Ticket", axis=1)

In [ ]:
print('sd')